.button {
    font-family: 'Syne Tactile';
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
    background-color: #0D00A4;
    color: #CCFF26;
    border-radius: 2rem;
  }
  
  .icon {
    width: 70px;
    height: 70px;
  }

  .button:hover{
    background: linear-gradient(135deg, #000000, #333333);
    color: #CA7DF9;
  }
  