.heartWrapper {
  position:relative;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
  
  
  .heartGif {
  width: 13rem; 
  height: 10rem;  
  }
  
  .hiddenButtons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  }

  .hoverMessage{
    font-size: 0.9rem;
    color: #888;
    margin-top: 0.1rem;
    font-family: 'Syne Mono', monospace;
    transition: opacity 0.3s ease;
  }

  