.card {
    display: flex;
    font-family: 'Syne Mono';
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    background-color: #CCFF26;
    justify-content: space-around;
    width: 35vw;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.75rem;
  }
  
  .editBtn,
  .deleteBtn {
    font-family: 'Syne Mono';
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    height:3rem;
  }
  
  .editBtn {
    background: linear-gradient(135deg, #000000, #333333);
    color: #CA7DF9;
  }
  
  .deleteBtn {
    background: linear-gradient(135deg, #000000, #333333);
    color: #CA7DF9;
  }
  