@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Syne Tactile';
    font-size: 2rem;
    height: 7rem;
    width: 100%;
}


.textRibbon {
    display: flex;
    background-color: #CA7DF9;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    justify-content: space-around;
    width: -webkit-fill-available;
}


.nowPlaying {
    margin: 0rem;
    margin-left: 1rem;
}


.playerContainer {
    height: 5rem;
    width: 25rem;
    align-self: center;
    background-color: #CCFF26;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .headerContainer {
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    
    .textRibbon {
        /*flex-direction: column;*/
        height: auto;
        margin-top: 0;
        justify-content: center;
    }

    /* Adjust player container size */
    .playerContainer {
        width: 80%; 
        height: 4rem; 
        padding: 1rem;
    }

    
    .nowPlaying {
        font-size: 1rem; 
    }

   
    .textRibbon {
        padding: 1rem 0;
    }
}
