@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

.headerContainer{
    display: flex;
    height: 7rem;
    font-family: 'Syne Tactile';
    font-size: 2rem;
}

.textRibbon{
    display: flex;
    background-color: #CA7DF9;

    height: 3rem;
    margin-top: 2rem;
    justify-content: space-around;
    width: -webkit-fill-available;
}

.nowPlaying{
    margin: 0rem;
    margin-left: 1rem;
}

.playerContainer{
    height: 5rem;
    width: 25rem;
    align-self: center;
    background-color:#CCFF26;
    color: black;
}