.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .title {
    font-family: 'Syne Tactile';
    font-size: 5rem;
    height: 6vh;
    text-align: center;
    margin-top:15vh;
  }
  
  .input {
    align-self: flex-end;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: white;
    color: #0D00A4;
    font-family: 'Syne Mono', monospace;
    margin-top: 2rem;
  }
  
  /* 📱 Mobile screen (375x667) */
  @media (max-width: 480px), (max-height: 700px) {
    .infoContainer {
      padding: 13rem;
      height:100vh;
    }
  
    .title {
      font-size: 5rem;
      height: auto;
      margin-top: 18vh;
    }
  
    .text {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  
    .input {
      width: 90%;
      align-self: center;
      font-size: 1rem;
    }
  }