.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .title {
    font-family: 'Syne Tactile';
    font-size: 5rem;
    height: 6vh;
    text-align: center;
    margin-top:15vh;
  }
  
  .input {
    align-self: flex-end;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: white;
    color: #0D00A4;
    font-family: 'Syne Mono', monospace;
    margin-top: 2rem;
  }

  .navigation{
    position:relative;
    display: flex;
    flex-direction: row-reverse;
    bottom: 35vh;
  }
  
  /* 📱 Mobile screen (375x667) */
  @media (max-width: 480px), (max-height: 700px) {
    .infoContainer {
      padding: 20rem;
      height:110vh;
      
    }
  
    .title {
      font-size: 5rem;
      height: auto;
      margin-top: 1vh;
      align-self: flex-end;
    }
  
    .text {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  
    .input {
      width: 90%;
      align-self: flex-start;
      right: 10vh;
      font-size: 1rem;
    }
    .navigation{
      position:relative;
      display: flex;
      flex-direction: row-reverse;
      bottom: 104vh;
      justify-self: center;
      margin-left: 117vh;
    }
    
  }