.infoContainer{
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: 'Syne Tactile';
    position: relative;
    height: 100vh;
    flex-direction: column;
    margin-left:0   ;

    }

    .title{
        position: relative;
        display: flex;
        justify-self: center;
        font-size: 5rem;
        height: 15vh;
    }

    .text{
        position: relative;
        font-size: 1.5rem;
        display: flex;
        justify-self: center;
        align-self: end;
    }

    .input{
        align-self: flex-end;

    }
