@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

.footerContainer {
    font-family: 'Syne Tactile', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CCFF26;
    height: 2.5rem;
    width: 98%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    z-index: 2; 
}


.footerContainer p {
    margin: 0;
    font-size: 1.25rem;
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

.link:hover {
    color: #0D00A4;
}


@media (max-width: 480px), (max-height: 700px) {
    .footerContainer {
        position: relative;
        flex-direction: row;
        right:1vh;
        height: auto;
        width:147vw;
        gap: 0.5rem;
        padding: 0rem 0.5rem;
        text-align: center; 
    }

    .footerContainer p,
    .link {
        font-size: 1rem;
        margin: 0.25rem 0;
    }
}   